.is-size-6-5 {
  font-size: 0.875em;
}

.no-underline {
  text-decoration: none !important;
  color: $text !important;
}

.has-text-green {
  color: $dark-green;
}

.is-rounded-corners {
  border-radius: 10px;
}

@media (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }
}

.sticky {
  position: sticky;
  top: 100px;
}
