.modal-content {
    width: auto!important; // Ensure that the lightbox is full size!
}

.modal-toggle {
    cursor: pointer;
    position: relative;
}

.modal-background {
    cursor: pointer;
}

.modal-toggle-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: .75s ease;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 2em;
    color: rgba(255, 255, 255, 0);
}

.modal-toggle:hover .modal-toggle-overlay {
    background-color: rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 1);
  }

.modal-toggle-overlay i {
    position: absolute;
    bottom: 2.5%;
    right: 1%;
}