.post {
  padding: 0 20px;
  max-width: 1500px;
  margin: 75px auto;
  color: $text;

  a {
    color: darken($green, 15%);
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;


    &:hover {
      text-decoration-color: darken($green, 15%);
      transition: 0.3s;
      text-decoration: underline;
    }
  }
}

.post-item {
  align-items: center;
  display: flex;
  display: --webkit-box
}

.post-divider {
  flex: 1 1 0%;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 0px;
  border-top: thin solid $grey-light;
}

.post-date {
  width: auto;
  font-size: 0.75rem;
  font-family: Hack, monospace;
}

.year-marker {
  @extend .subtitle;
  @extend .is-4;
  margin-top: 1.5rem;
}

.post-heading {
  margin: 10px 0 100px 0;
  text-align: center;
}

.post-content {
  font-size: 1.125em;
  line-height: 1.7em;
  letter-spacing: -0.014em;

  h1 {
    @extend .title;
    @extend .is-size-2;

    margin-top: 2.5em;
  }

  h2 {
    @extend .title;
    @extend .is-size-3;

    margin-top: 2em;
  }

  h3 {
    @extend .title;
    @extend .is-size-4;

    margin-top: 1.5em;
  }

  p {
    margin-bottom: 1em;
  }

  code {
    background: rgba(0, 0, 0, 0.05);
    margin: 0 1px;
    color: $text;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 0.75rem;
  }

  ul {
    list-style-type: circle;
    list-style-position: outside;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  ol {
    list-style-position: outside;
    margin-bottom: 1rem;
    margin-left: 1rem;

    li {
      padding-left: 0.5rem;
    }
  }

  figcaption {
    font-size: 0.95rem;
    color: rgba(0, 0, 0, 0.7);
  }

  figure {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
  }

  blockquote {
    margin-bottom: 1.5em;
    padding: 0 0.75em;
    border-left: 2px solid $green;
    font-style: italic;
  }

  pre {
    margin-bottom: 1.5em;
    line-height: 1.5em;
    white-space: pre-wrap;
    border-radius: 5px;
    font-size: 0.75em;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }

  table {
    @extend .table;

    margin: auto;
    display: block;
    overflow-x: auto;
    white-space: nowrap;

    @media (min-width: $desktop) {
      display: table !important;
    }
  }
}

.post-footer {
  margin-top: 50px;
  min-height: 3em;
  margin-bottom: 15px;
}

.tags-container {
  text-align: right;
  line-height: 3em;
  margin-top: -3em;

  @media (max-width: $tablet) {
    line-height: 0;
    text-align: center;
    margin-top: 10px;
  }
}

.tag {
  font-size: 0.75rem !important;
  margin: 5px 0;
}

.sharing {
  align-items: center;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 10px;

  a.button {
    margin: 0 5px;
    text-decoration: none;

    &.is-twitter {
      background-color: #00aced;
      border-color: transparent;
      color: #fff;

      &:hover {
        background-color: #0084b4;
        border-color: transparent;
        color: #fff;
      }
    }

    &.is-facebook {
      background-color: #3b5998;
      border-color: transparent;
      color: #fff;

      &:hover {
        background-color: #22407f;
        border-color: transparent;
        color: #fff;
      }
    }

    &.is-email {
      background-color: hsl(0, 0%, 29%);
      border-color: transparent;
      color: #fff;

      &:hover {
        background-color: hsl(0, 0%, 21%);
        border-color: transparent;
        color: #fff;
      }
    }
  }
}

.post-summary {
  padding: 25px 25px;
  border-bottom: rgba(0, 0, 0, 0.25) 1px solid;

  &:last-child {
    border: 0;
  }
}

.excerpt {
  margin: 20px 0;
}

.share-text {
  margin-bottom: 15px;
  font-weight: bolder;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.7);
}
