@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import "./variables";
@import "../vendor/bulma/bulma";
@import "./helpers";
@import "./about";
@import "./post";
@import "./modal";
@import "./kudos";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif !important;
}

footer {
  padding-bottom: 3rem !important;
}

::selection {
  background: #fff2a8; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #fff2a8; /* Gecko Browsers */
}

// Add some spacing around navbar entries.
.navbar-end .navbar-item {
  margin: 0 10px;
}

.not-found {
  white-space: pre-wrap;
  background-color: unset;
  color: unset;
}
