@charset "utf-8";

$primary: #01579B;

@import "../_css/utilities/_all.sass";
@import "../_css/base/_all.sass";
@import "../_css/elements/_all.sass";
@import "../_css/components/_all.sass";
@import "../_css/grid/_all.sass";
@import "../_css/layout/_all.sass";
@import "../_css//kudosplease.scss";

html {
    scroll-behavior: smooth;
}

.about-section:before, .about-section:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}

.about-section:before {
    right: 0.75em;
    margin-left: -20%;
}

.about-section:after {
    left: 0.75em;
    margin-right: -20%;
}

.about-section { 
    display: inline-block;
}

.about-body {
    padding: 0px 150px;
}

.about-entry {
    margin-top: 20px;
}

.has-text-green {
    color: #388E3C;
}

.is-rounded-corners {
    border-radius: 10px;
}

@media (max-width: 1000px) {
    .about-body {
        padding: 0px 50px;
    }
}

@media (max-width: 800px) {
    .about-body {
        padding: 0px 10px;
    }

    .about-section:after {
        left: 0em;
        top: 0.75em;
        margin: 0px auto 10px;
        display: block;
        width: 30%;
    }

    .about-section:before {
        height: 0px;
    }
}

.post {
    padding: 0px 250px;
    margin: 75px 0px;
}

.post-content h1 {
    padding-top: 10px;
}

.post-content p {
    margin-bottom: 1em;
}

.post-content h1 {
    @extend .title;
    @extend .is-3;
}

.post-content h2 {
    @extend .title;
    @extend .is-4;
}

.post-content code {
    color: #8e0000;
}

.post-content ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-bottom: 1em;
}

.post-content pre {
    margin: 5px 0px;
}

.post-content a {
    color: #42a5f5;
    border-bottom: 1px solid #42a5f5;
}

.post-title {
    margin-top: 10px;
}

@media (max-width: 1500px) {
    .post {
        padding: 0px 100px;
    }
}

@media (max-width: 1000px) {
    .post {
        padding: 0px 50px;
    }
}

@media (max-width: 800px) {
    .post {
        padding: 0px 20px;
    }
}

.is-serif {
    font-family: 'Merriweather', serif;
}

.no-underline {
    color: hsl(0, 0%, 14%)!important;
    border-bottom: none!important;
}

.post-divider {
    @extend .has-background-grey-dark;
    width: 33%;
    content: "";
    height: 1px;
    margin: 50px auto;
}

.kudos {
    margin: 0;
    width: 3em;
    height: 3em;
    line-height: 3em;
    box-shadow: inset 0 0 0 0.25em #000, inset 0 0 0 1.25em #fff, inset 0 0 0 3em #000;
}

.kudos:after {
    left: -1.5em;
}

.sidebar-right {
    margin-bottom: 1em;
}

@media(min-width: 1500px) {
    .sidebar-right {
        position: sticky !important; /* added to make toc scroll with page */
        float: right !important; /* added to make toc scroll with page */
        top: 0;
        right: 0;
        // TODO: Make this align with the things above.
        width: 250px;
        margin-right: -250px;
        padding-left: 1em;
        padding-top: 1em !important; /* added to make toc scroll with page */
        z-index: 10;
    }
}

.toc-card {
    padding: 10px;
    border-radius: 10px;
}

.post-summary {
    padding: 20px 0px;
    border-bottom: 1px dotted $grey-dark ;
}