@charset "utf-8";

$primary: #01579B;

@import "../_bulma/utilities/_all.sass";
@import "../_bulma/base/_all.sass";
@import "../_bulma/elements/_all.sass";
@import "../_bulma/components/_all.sass";
@import "../_bulma/grid/_all.sass";
@import "../_bulma/layout/_all.sass";

html {
    scroll-behavior: smooth;
}

.about-section:before, .about-section:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}

.about-section:before {
    right: 0.75em;
    margin-left: -20%;
}

.about-section:after {
    left: 0.75em;
    margin-right: -20%;
}

.about-section { 
    display: inline-block;
}

.about-body {
    padding: 0px 150px;
}

.about-entry {
    margin-top: 20px;
}

.has-text-green {
    color: #388E3C;
}

.is-rounded-corners {
    border-radius: 10px;
}

@media (max-width: 1000px) {
    .about-body {
        padding: 0px 50px;
    }
}

@media (max-width: 800px) {
    .about-body {
        padding: 0px 10px;
    }

    .about-section:after {
        left: 0em;
        top: 0.75em;
        margin: 0px auto 10px;
        display: block;
        width: 30%;
    }

    .about-section:before {
        height: 0px;
    }
}

.post {
    padding: 0px 250px;
    margin: 75px 0px;
}

.post h1 {
    padding-top: 10px;
}

.post p {
    margin-bottom: 1em;
}

.post-content h1 {
    @extend .title;
    @extend .is-3;
}

.post-content ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-bottom: 1em;
}

.post-content pre {
    margin: 5px 0px;
}

.post a {
    color: #42a5f5!important;
    border-bottom: 1px solid #42a5f5;
}

@media (max-width: 1500px) {
    .post {
        padding: 0px 100px;
    }
}

@media (max-width: 1000px) {
    .post {
        padding: 0px 50px;
    }
}

@media (max-width: 800px) {
    .post {
        padding: 0px 10px;
    }
}

.is-serif {
    font-family: 'Merriweather', serif;
}