{% extends "list_base.html" %}

{% block page_title %}
Projects
{% endblock page_title %}

{% block page_content %}
<div class="lg:grid lg:grid-cols-3 lg:gap-8">
  {% for project in paginator.pages %}
  <a href="{{ project.permalink }}" class="rounded-md border-gray-300 border shadow-sm transition transform flex flex-col hover:scale-105 hover:shadow hover:border-blue-300 duration-500">
    <img class="mb-2 rounded-md" src="{{ project.extra.img_path }}"/>
    <div class="py-4 px-4 flex flex-col flex-grow">
      <p class="text-gray-700 font-bold text-md mb-2">{{ project.title }}</p>
      <p class="text-sm text-gray-600">{{ project.description | safe }}</p>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock page_content %}

