{% extends "content.html" %}

{% block js %}
<script src="/js/nav.min.js"></script>
<script src="/js/github-buttons.min.js"></script>
<script src="/js/lightbox.min.js"></script>
{% endblock js %}

{% block page_title %}
<h1 class="text-4xl font-bold text-gray-800 text-center">{{ page.title }}</h1>
<p class="text-center text-blue-500 hover:text-blue-600">
    <a href="https://github.com/{{ page.extra.github_slug }}">
        <i class="fab fa-github"></i> GitHub repository
    </a>
</p>
{% endblock page_title %}


{% block page_content %}
{{ page.content | safe }}
{% endblock page_content %}
