{{ define "main" }}
<div class="divide-y divide-slate-200 dark:divide-slate-700 w-full">
  <div class="pb-2 space-y-1">
    <h1 class="text-md font-semibold text-gray-900 dark:text-gray-100 tracking-tight">
      Projects
    </h1>
    <p class="text-sm leading-7 text-gray-500 dark:text-gray-400 italic">
      What I'm currently working on or maintaining
    </p>
  </div>
  <div class="flex items-stretch flex-col lg:flex-row lg:flex-wrap -mx-4 pt-12">
    {{ range .Pages }}
    <div class="p-4 lg:w-1/2">
      <div class="h-full bg-slate-100 dark:bg-slate-900 p-8 rounded-lg text-center overflow-hidden relative">
        <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 dark:text-gray-400 mb-1 uppercase">
          {{ .Params.status }}
        </h2>
        <h1 class="title-font text-md font-semibold text-gray-900 dark:text-gray-100 mb-3">
          {{ .Title }}
        </h1>
        <div class="leading-relaxed mb-6 prose prose-sm dark:prose-invert">
          {{ .Summary }}
        </div>
        <div class="text-sm">
          {{ partial "components/link.html" (dict "url" .RelPermalink "text" "Learn More →") }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>

{{ end }}