{{ define "main" }}

<article class="divide-y divide-gray-200 dark:divide-gray-700">
  <header class="pt-6 pb-6 xl:pb-10">
    <div class="space-y-1 xl:text-center">
      <h1
        class="text-3xl leading-9 font-extrabold text-gray-800 dark:text-gray-200 tracking-tight sm:text-4xl sm:leading-10 md:text-5xl md:leading-14">
        {{ .Title }}
      </h1>
    </div>
  </header>
  <div class="pb-16 xl:pb-20">
    <div class="prose dark:prose-invert max-w-none pt-10 pb-8">
      {{ .Content }}
      <hr />
    </div>
    {{ $tags := .Site.Taxonomies.tags }}
    {{ $tagKey := (printf "@projects/%s" (.Title | anchorize)) }}
    {{ with (index $tags $tagKey) }}
      <h2 class="text-xl text-gray-800 dark:text-gray-200 mb-4">Related Writing</h2>
      <div class="space-y-4">
        {{ range . }}
        <a href="{{ .RelPermalink }}">
          <div class="flex flex-col rounded-md p-2 hover:bg-gray-100 dark:hover:bg-gray-700 cursor-pointer text-gray-800 dark:text-gray-200 space-y-1">
            <span class="text-xs text-gray-700 dark:text-gray-300">
              {{ .Date | time.Format ":date_long" }}
            </span>
            <h4 class="text-lg">{{ .Title }}</h4>
            <div class="prose dark:prose-invert">
            {{ .Summary }}
            </div>
          </div>
        </a>
        {{ end }}
      </div>
      {{ end }}
  </div>
</article>

{{ end }}
