{{ define "main" }}

<article class="divide-y divide-gray-200 dark:divide-gray-700">
  <header class="pt-6 pb-4">
    <div>
      <div class="flex justify-between items-center">
        <p class="text-xs uppercase text-gray-500 dark:text-gray-400">
          {{ .Params.status }}
        </p>
        {{ with .Params.githubSlug }}
        {{ with index $.Site.Data.github . }}
        <span class="flex items-center gap-1 text-xs text-gray-400 dark:text-gray-400">
          {{ . }}
          <span class="text-yellow-500">
            {{ partial "components/icons/star.html" "h-3 w-3" }}
          </span>
        </span>
        {{ end }}
        {{ end }}
      </div>
      <div class="flex justify-between items-center">
        <h1 class="leading-9 text-lg font-semibold text-gray-800 dark:text-gray-200 tracking-tight">
          {{ .Title }}
        </h1>
        {{ with .Params.githubSlug }}
        <a href="https://github.com/{{ . }}"
          class="text-gray-400 hover:text-gray-500 dark:hover:text-gray-300 duration-300 flex items-center gap-1.5 text-sm">
          Repository
          {{ partial "components/icons/github.html" "h-4 w-4" }}
        </a>
        {{ end }}
      </div>
    </div>
  </header>
  <div class="pb-8">
    <div class="prose prose-sm dark:prose-invert max-w-none pt-10 pb-8">
      {{ .Content }}
      <hr />
    </div>
    {{ $tags := .Site.Taxonomies.tags }}
    {{ $tagKey := (printf "@projects/%s" (.Title | anchorize)) }}
    {{ with (index $tags $tagKey) }}
    <h2 class=" font-semibold text-gray-800 dark:text-gray-200 mb-6">Related Writing</h2>
    <div class="space-y-4">
      {{ range . }}
      <div class="flex justify-between items-start text-sm text-gray-900 dark:text-gray-200">
        <div class="flex space-x-4 items-start mr-2">
          <span class="text-gray-500 dark:text-gray-400 flex-shrink-0">{{ .Date | time.Format "02 Jan, 2006" }}</span>
          <span class="font-semibold">{{ .Title }}</span>
        </div>
        <div class="flex-shrink-0">
          {{ partial "components/link.html" (dict "url" .RelPermalink "text" "Read →") }}
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
</article>

{{ end }}