{% set additional_class = "" %}
{% if type %}
  {% if type == "dark" %} 
  {% set additional_class = "is-dark"%}
  {% elif type == "info" %}
  {% set additional_class = "is-info" %}
  {%elif type == "warning" %}
  {% set additional_class = "is-warning" %}
  {%elif type == "danger" %}
  {% set additional_class = "is-danger" %}
  {% endif %}

{% endif %}
<article class="message {{ additional_class }}">
    <div class="message-body">
      {{ body | safe | markdown(inline=true) }}
    </div>
</article>