.arbgen-code {
    padding: 1.25em;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    font-size: 0.875em;
}

.dark .arbgen-code {
    border-color: rgba(255, 255, 255, 0.1);
}