{{ define "main" }}
<div class="divide-y divide-slate-200 dark:divide-slate-700 w-full">
  <div class="pb-2 space-y-1">
    <h1 class="text-md font-semibold text-gray-900 dark:text-gray-100 tracking-tight">
      Writing
    </h1>
    <p class="text-sm leading-7 text-gray-500 dark:text-gray-400 italic">
      Thoughts, project updates, and anything else!
    </p>
  </div>
  <ul>
    {{ range .Pages }}
    <li class="py-12">
      <div class="flex justify-between items-start text-sm text-gray-900 dark:text-gray-200">
        <div class="flex space-x-4 items-start mr-2">
          <span class="text-gray-500 dark:text-gray-400 flex-shrink-0">{{ .Date | time.Format "02 Jan, 2006" }}</span>
          <span class="font-semibold">{{ .Title }}</span>
        </div>
        <div class="flex-shrink-0">
          {{ partial "components/link.html" (dict "url" .RelPermalink "text" "Read →") }}
        </div>
      </div>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}