{{ define "main" }}
<article class="divide-y divide-gray-200 dark:divide-gray-700">
  <header class="pt-6 pb-4">
    <div>
      <p class="text-xs text-gray-500 dark:text-gray-400">
        {{ .Date | time.Format ":date_long" }}
      </p>
      <h1 class="leading-9 text-lg font-semibold text-gray-800 dark:text-gray-200 tracking-tight">
        {{ .Title }}
      </h1>
    </div>
  </header>
  <div class="pb-8">
    <div class="prose prose-sm dark:prose-invert max-w-none pt-10 pb-8">
      {{ .Content }}
    </div>
  </div>
</article>
{{ end }}