<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{ $jsOpts := dict "minify" true }}
{{ $js := resources.Get "js/main.ts" | js.Build $jsOpts }}
<script type="text/javascript" src="{{ $js.RelPermalink }}" defer></script>

{{ if .Site.IsServer }}
<link rel="stylesheet" href="/main.css" />
{{ else }}
<link rel="stylesheet" href="/main.min.css" />
{{ end }}


<title>{{ .Site.Title }}</title>