<header>
  <div class="m-auto py-2 items-center justify-between flex lg:h-16 lg:py-4 lg:mb-20">
    <nav class="hidden md:flex items-center flex-shrink-0 space-x-8">
      <div class="flex space-x-1 items-center">
        <a class="text-lg font-mono dark:text-gray-100" href="/">
          <span class="text-blue-500 font-extrabold -mr-2">[</span>
          <span class="text-md">Jamie Brynes</span>
          <span class="text-blue-500 font-extrabold -ml-2">]</span>
        </a>
      </div>
      {{ range .Site.Menus.main }}
      <a href="{{ .URL }}"
        class="block font-semibold text-gray-500 dark:text-gray-400 lg:inline-block hover:text-blue-500 dark:hover:text-blue-300 duration-300">
        {{ .Name }}
      </a>
      {{ end }}
    </nav>
    <div class="hidden md:flex items-center space-x-4">
      {{ partial "components/dark-mode-toggle.html" . }}
    </div>
    <h1 class="block md:hidden font-bold text-gray-800 dark:text-gray-200 text-xl">
      <div class="flex space-x-1 items-center">
        <a class="text-lg font-mono dark:text-gray-100" href="/">
          <span class="text-blue-500 font-extrabold -mr-2">[</span>
          <span class="text-md">Jamie Brynes</span>
          <span class="text-blue-500 font-extrabold -ml-2">]</span>
        </a>
      </div>
    </h1>
    <div
      class="block md:hidden text-gray-400 dark:text-gray-500 hover:bg-gray-100 dark:hover:bg-gray-800 p-1 rounded-sm">
      <div id="mobile-menu_cross-icon" class="hidden">
        {{ partial "components/icons/cross.html" "w-6 h-6" }}
      </div>
      <div id="mobile-menu_burger-icon" class="hidden">
        {{ partial "components/icons/burger.html" "w-6 h-6" }}
      </div>
    </div>
  </div>
  <div id="mobile-menu_container"
    class="hidden md:hidden pb-4 mb-8 pt-2 space-y-2 text-gray-500 dark:text-gray-400 border-b border-b-gray-300 dark:border-gray-600">
    {{ range .Site.Menus.main }}
    <a href="{{ .URL }}"
      class="block font-semibold text-gray-500 dark:text-gray-400 lg:inline-block hover:text-blue-500 dark:hover:text-blue-300 duration-300 mr-6 last:mr-0">
      {{ .Name }}
    </a>
    {{ end }}
  </div>
</header>