<header>
  <div class="m-auto py-2 px-2 items-center justify-start flex md:space-x-4 lg:h-16 mb-8 lg:mb-12">
    <nav class="hidden md:flex items-center flex-shrink-0 space-x-4 text-sm">
      {{ $currentPage := . }}
      {{ range $index, $item := .Site.Menus.main }}
      {{ $isActive := or ($currentPage.IsMenuCurrent "main" $item) ($currentPage.HasMenuCurrent "main" $item) }}
      {{ $colorClasses := partial "components/nav-colors.html" (dict "index" $index "isActive" $isActive) }}
      <a href="{{ $item.URL }}"
        class="block font-semibold lg:inline-block {{ $colorClasses }} border-b-2 duration-300 pb-1">
        {{ $item.Name }}
      </a>
      {{ if ne $index (sub (len $.Site.Menus.main) 1) }}
      <span class="text-gray-400 dark:text-gray-600">/</span>
      {{ end }}
      {{ end }}
    </nav>
    <div class="hidden md:flex pl-4">
      {{ partial "components/dark-mode-toggle.html" . }}
    </div>
    <div class="flex items-center justify-between md:hidden w-full">
      <img src="/assets/profile-pic.jpg" class="w-10 h-10 rounded-full" />
      <div class="text-gray-400 dark:text-gray-500 hover:bg-gray-100 dark:hover:bg-gray-800 p-1 rounded-sm">
        <div id="mobile-menu_cross-icon" class="hidden">
          {{ partial "components/icons/cross.html" "w-6 h-6" }}
        </div>
        <div id="mobile-menu_burger-icon" class="hidden">
          {{ partial "components/icons/burger.html" "w-6 h-6" }}
        </div>
      </div>
    </div>
  </div>
  <div id="mobile-menu_container"
    class="hidden md:hidden pb-4 mb-8 space-y-3 text-gray-700 dark:text-gray-300 border-b border-b-gray-300 dark:border-gray-600">
    {{ range $index, $item := .Site.Menus.main }}
    {{ $isActive := or ($currentPage.IsMenuCurrent "main" $item) ($currentPage.HasMenuCurrent "main" $item) }}
    {{ $colorClasses := partial "components/nav-colors.html" (dict "index" $index "isActive" $isActive) }}
    <a href="{{ $item.URL }}"
      class="block font-semibold text-gray-700 dark:text-gray-300 lg:inline-block {{ $colorClasses }} border-l-4 duration-300 -mr-1 pl-4">
      {{ $item.Name }}
    </a>
    {{ end }}
  </div>
</header>