<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{ $chromaCss := resources.Get "css/nord-chroma.css" | resources.Minify }}
<link rel="preload stylesheet" as="style" href="{{ $chromaCss.RelPermalink }}" />

{{ if .Site.IsServer }}
<link rel="preload stylesheet" as="style" href="/main.css" />
{{ else }}
<link rel="preload stylesheet" as="style" href="/main.min.css" />
{{ end }}

{{ $jsOpts := dict "minify" true }}
{{ $js := resources.Get "js/main.ts" | js.Build $jsOpts }}
<script type="text/javascript" src="{{ $js.RelPermalink }}"></script>

<title>{{ .Site.Title }}</title>

<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/assets/favicon/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="/assets/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/assets/favicon/favicon-16x16.png" sizes="16x16" />
<link rel="shortcut icon"  href="/assets/favicon/favicon.ico" sizes="128x128" />
