{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="/imgs/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/imgs/favicon-16x16.png">

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>

  {% if config.generate_rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") | safe }}">
  {% endif %}

  {% block css %}
  <link href="/main.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  {% endblock css %}

  {% block js %}
  <script src="/js/nav.min.js"></script>
  {% endblock js %}
</head>

<body>
  <div class="w-full bg-white h-24 flex items-center justify-between lg:w-3/4 lg:m-auto">
    <div class="flex items-center flex-shrink-0">
      <a href="{{ config.base_url }}"
        class="text-gray-700 font-semibold text-xl tracking-tight hover:text-blue-500 duration-300">JB</a>
    </div>
    <nav role="navigation" aria-label="main navigation"
      class="w-full block items-center text-gray-600 lg:w-auto lg:flex">
      <div class="text-lg lg:flex-grow">
        <a href="{{ config.base_url }}/blog" class="block mt-4 lg:inline-block lg:mt-0 hover:text-blue-500 duration-300 mr-6">
          Writing
        </a>
        <a href="{{ config.base_url }}/projects"
          class="block mt-4 lg:inline-block lg:mt-0 hover:text-blue-500 duration-300 mr-6">
          Projects
        </a>
        <a href="{{ config.base_url }}/resume" class="block mt-4 lg:inline-block lg:mt-0 hover:text-blue-500 duration-300">
          About
        </a>
      </div>
    </nav>
  </div>
  <div class="w-full min-h-screen lg:w-3/4 max-w-screen-xl mx-auto px-6 lg:px-0 pt-12">
    {% block content %}
    {% endblock content %}
  </div>
  <footer class="w-full h-16 flex items-center justify-between lg:w-3/4 lg:m-auto">
    <div class="flex text-gray-600 text-sm">&copy; Jamie Brynes 2020</div>
    <div class="flex text-gray-800 text-xl">
      <a class="mr-4 hover:text-blue-500 duration-300" href="{{ config.extra.github }}">
        <i class="fab fa-github"></i>
      </a>
      <a class="mr-4 hover:text-blue-500 duration-300" href="{{ config.extra.twitter }}">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="mr-4 hover:text-blue-500 duration-300" href="{{ config.extra.instagram }}">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="hover:text-blue-500 duration-300" href="{{ config.extra.linkedin }}">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </footer>
</body>