<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="/imgs/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/imgs/favicon-16x16.png">

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>

  {% if config.generate_rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") | safe }}">
  {% endif %}

  {% block css %}
  <link href="/main.css" rel="stylesheet">
  {% endblock css %}

  <script src="/js/nav.js"></script>
  {% block js %}
  {% endblock js %}
</head>

<body>
  <div class="w-11/12 bg-white lg:h-24 items-center justify-between m-auto lg:flex lg:w-3/4">
    <div class="flex items-center justify-between h-12">
      <div class="flex items-center flex-shrink-0">
        <a href="{{ config.base_url }}"
          class="text-gray-700 font-semibold text-xl tracking-tight hover:text-blue-500 duration-300">JB</a>
      </div>
      <button id="nav-toggle" data-target="navigation" class="lg:hidden text-gray-500">
        <svg id="nav-hamburger" class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
        <svg id="nav-cross" class="fill-current w-4 h-4 hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path
            d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z">
          </path>
        </svg>
      </button>
    </div>
    <nav id="navigation" role="navigation" aria-label="main navigation"
      class="hidden w-full mb-4 block items-center text-gray-600 lg:w-auto lg:flex lg:mb-0">
      <div class="text-lg lg:flex-grow">
        <a href="{{ config.base_url }}/blog"
          class="block mt-4 lg:inline-block lg:mt-0 hover:text-blue-500 duration-300 mr-6">
          Writing
        </a>
        <a href="{{ config.base_url }}/projects"
          class="block mt-4 lg:inline-block lg:mt-0 hover:text-blue-500 duration-300 mr-6">
          Projects
        </a>
        <a href="{{ config.base_url }}/resume"
          class="block mt-4 lg:inline-block lg:mt-0 hover:text-blue-500 duration-300">
          About
        </a>
      </div>
    </nav>
  </div>
  <div class="w-full border-b border-gray-200 lg:border-none"></div>
  <div class="w-full min-h-screen lg:w-3/4 max-w-screen-xl mx-auto px-6 lg:px-0 pt-12">
    {% block content %}
    {% endblock content %}
  </div>
  <footer class="w-full items-center justify-between mt-16 lg:w-3/4 lg:mx-auto lg:h-16 lg:flex lg:flex-row-reverse">
    <div class="flex text-gray-800 text-xl text-center justify-center ">
      <a class="mr-4 hover:text-blue-500 duration-300" href="{{ config.extra.github }}">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-current inline-block" viewBox="0 0 24 24" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z"/>
          <path d="M9 19c-4.286 1.35-4.286-2.55-6-3m12 5v-3.5c0-1 .099-1.405-.5-2 2.791-.3 5.5-1.366 5.5-6.04a4.567 4.567 0 0 0 -1.333 -3.21 4.192 4.192 0 00-.08-3.227s-1.05-.3-3.476 1.267a12.334 12.334 0 0 0 -6.222 0C6.462 2.723 5.413 3.023 5.413 3.023a4.192 4.192 0 0 0 -.08 3.227A4.566 4.566 0 004 9.486c0 4.64 2.709 5.68 5.5 6.014-.591.589-.56 1.183-.5 2V21" />
        </svg>
      </a>
      <a class="mr-4 hover:text-blue-500 duration-300" href="{{ config.extra.twitter }}">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-current inline-block" viewBox="0 0 24 24" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z"/>
          <path d="M22 4.01c-1 .49-1.98.689-3 .99-1.121-1.265-2.783-1.335-4.38-.737S11.977 6.323 12 8v1c-3.245.083-6.135-1.395-8-4 0 0-4.182 7.433 4 11-1.872 1.247-3.739 2.088-6 2 3.308 1.803 6.913 2.423 10.034 1.517 3.58-1.04 6.522-3.723 7.651-7.742a13.84 13.84 0 0 0 .497 -3.753C20.18 7.773 21.692 5.25 22 4.009z" />
        </svg>
      </a>
      <a class="lg:mr-4 hover:text-blue-500 duration-300" href="{{ config.extra.instagram }}">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-current inline-block" viewBox="0 0 24 24" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z"/>
          <rect x="4" y="4" width="16" height="16" rx="4" />
          <circle cx="12" cy="12" r="3" />
          <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
        </svg>
      </a>
    </div>
    <div class="text-gray-600 text-sm text-center mt-2 lg:mt-0 lg:flex">&copy; Jamie Brynes 2020</div>
  </footer>
</body>