{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block js %}
<script src="/js/nav.min.js"></script>
{% endblock js %}

{% block content %}

<div class="hero">
  <div class="hero-head">
    {{ macros::nav(site_url=config.base_url, extra=config.extra) }}
  </div>
</div>

<div class="container">
  <article class="post">
    <div class="post-heading">
      {% block page_title %}
      {% endblock page_title %}
    </div>

    <div class="columns">
      <div class="column is-2 mobile-hidden">
        {% if page.extra.toc %}
        {{ macros::toc(h1s=toc) }}
        {% endif %}
      </div>
      <div class="column">
        <div class="post-content">
          {% block page_content %}
          {% endblock page_content %}
        </div>

        {% block content_footer %}
        {% endblock content_footer %}
      </div>
      <div class="column is-2 mobile-hidden">
      </div>
    </div>
  </article>
</div>

{% endblock content %}
