{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block content %}
  <div class="hero is-primary is-fullheight zip-zag-bottom">
    <div class="hero-head">
      {{ macros::nav(site_url=config.base_url, extra=config.extra) }}
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-1">Hi there, I'm Jamie 👋</h1>
        <br/>
        <h3 class="subtitle is-6">Welcome to my corner of the internet!</h3>
        <h3 class="subtitle is-6">I work in software engineering, primarily with C# (professionally) and Rust (hobby projects).</h3>
        <h3 class="subtitle is-6">You can learn <a href="/resume">more about me</a>, see what <a href="/projects">projects</a> I've been working on, or read my (rare) <a href="/blog">writings</a>.</h3>
      </div>
    </div>
  </div>
{% endblock content %}
