{% macro nav(site_url, extra) %}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ extra.github }}">
      <i class="fab fa-github"></i>
    </a>
    <a class="navbar-item" href="{{ extra.twitter }}">
      <i class="fab fa-twitter"></i>
    </a>
    <a class="navbar-item" href="{{ extra.instagram }}">
      <i class="fab fa-instagram"></i>
    </a>
    <a class="navbar-item" href="{{ extra.linkedin }}">
      <i class="fab fa-linkedin"></i>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="main-navbar" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="{{ site_url }}">
        home
      </a>
      <a class="navbar-item" href="{{ site_url }}#about">
        about
      </a>
      <a class="navbar-item" href="{{ site_url }}#projects">
        projects
      </a>
      <a class="navbar-item" href="{{ site_url }}/blog">
        blog
      </a>
    </div>
  </div>
</nav>
{% endmacro nav %}

{% macro footer() %}
<footer class="footer has-background-light has-text-dark">
  <div class="container has-text-centered">
    <small>
      Handcrafted with <a href="https://bulma.io/">Bulma</a> and <a href="https://www.getzola.org/">Zola</a>.
    </small>
    <br />
    <small>
      <a href="https://www.github.com/jamiebrynes7/website">Open sourced <i class="fas fa-heart"></i></a>
    </small>
  </div>
</footer>
{% endmacro footer %}

{% macro toc(h1s) %}
<aside class="menu sidebar-right">
  <div class="card toc-card">
  <p class="menu-label">
    Table of Contents
  </p>
  <ul class="menu-list">
    {% for h1 in h1s %}
    <li><a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
    {% if h1.children %}
    <ul>
      {% for h2 in h1.children %}
      <li><a href="{{ h2.permalink | safe }}">{{ h2.title }}</a></li>
      {% endfor %}
    </ul>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  </div>
</aside>
{% endmacro %}

{% macro pager(pg) %}
{% if pg.number_pagers > 1 %}
<div class="post-divider"></div>
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous" title="This is the first page" {% if not pg.previous %}disabled {% endif %}>Previous</a>
    <a class="pagination-next" {% if not pg.next %}disabled {% endif %}>Next page</a>
    <ul class="pagination-list">
        <li>
          <a class="pagination-link {% if pg.current_index == 1 %}is-current{% endif %}">1</a>
        </li>
        <li>
          <a class="pagination-link">2</a>
        </li>
        <li>
          <a class="pagination-link">3</a>
        </li>
    </ul>
</nav>
{% endif %}
{% endmacro %}