{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block js %}
<script src="/js/kudosplease.min.js"></script>
<script src="/js/kudosplease-bootstrap.min.js"></script>
<script src="/js/social.min.js"></script>
<script src="/js/nav.min.js"></script>
<script src="/js/lightbox.min.js"></script>
{% endblock js %}

{% block content %}

<div class="hero">
  <div class="hero-head">
    {{ macros::nav(site_url=config.base_url, extra=config.extra) }}
  </div>
</div>

<div class="container">
  <article class="post">
    {% block post %}

    <div class="post-heading columns">
      <div class="column">
        <h1 class="title is-size-2 is-size-3-touch">{{ page.title }}</h1>
        <span class="has-text-grey-dark is-size-6">{{ page.date | date(format="%d %b %Y") }} &#X00B7 {{page.reading_time }} min
          read</span>
      </div>
    </div>

    {% if page.extra.toc %}
    {{ macros::toc(h1s=toc) }}
    {% endif %}

    <div class="columns">
      <div class="column is-2 mobile-hidden">
          <div class="sticky has-text-centered">
              <p class="share-text">SHARE</p>
              <a class="no-underline share-icon" href="javascript:tweetCurrentPage('{{ page.title }}')">
                  <i class="is-size-4 fab fa-twitter"></i>
              </a>
              <a class="no-underline share-icon" href="javascript:shareOnFacebook()">
                  <i class="is-size-4 fab fa-facebook"></i>
              </a>
              <a class="no-underline share-icon" href="javascript:shareViaEmail('{{ page.title }}')">
                  <i class="is-size-4 fas fa-envelope"></i>
              </a>
              <div class="kudos" data-amount="0" data-url="{{ page.permalink }}"></div>
          </div>
      </div>
      <div class="post-content column">
          {{ page.content | safe }}
      </div>
      <div class="column is-2 mobile-hidden">
      </div>
    </div>


    {% if page.taxonomies.tags %}
    <div class="tags has-text-centered" style="display: block!important">
      {% for tag in page.taxonomies.tags %}
      <span class="tag is-light"><a class="no-underline" href="/tags/{{ tag }}">{{ tag }}</a></span>
      {% endfor %}
    </div>
    {% endif %}

{% endblock post %}
</article>
</div>

{% endblock content %}