{% extends "page_base.html" %}
{% import "macros.html" as macros %}

{% block page_title %}
{{ page.title }}
{% endblock page_title %}

{% block page_subtitle %}
<p class="mb-2 text-gray-600">
  {{ page.date | date(format="%d %b %Y") }} &#X00B7 {{page.reading_time }} min read
</p>
{% endblock page_subtitle %}

{% block page_content %}
{{ page.content | safe }}
{% endblock page_content %}

{% block footer %}
<hr class="mt-8 mb-1"/>
<div class="flex justify-between">
  {% if page.taxonomies.tags %}
  <div class="flex justify-start">
    {% for tag in page.taxonomies.tags %}
    <a class="text-xs text-gray-600 hover:text-gray-900 mx-1" href="/tags/{{ tag }}">#{{ tag }}</a>
    {% endfor %}
  </div>
  {% endif %}
  <div class="text-gray-600 flex justify-end">
    <a alt="Share on Twitter" class="ml-4 hover:text-gray-900 is-twitter" target="_blank" href="{{ macros::twitter_share_link(permalink=page.permalink, title=page.title) }}">
      <span class="icon">
        <i class="fab fa-twitter"></i>
      </span>
    </a>
    <a alt="Share on Facebook" class="ml-4 hover:text-gray-900 is-facebook" target="_blank" href="{{ macros::facebook_share_link(permalink=page.permalink) }}">
      <span class="icon">
        <i class="fab fa-facebook"></i>
      </span>
    </a>
  </div>
</div>
{% endblock footer %}
