{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<div class="hero">
    <div class="hero-head">
      {{ macros::nav(site_url=config.base_url, extra=config.extra) }}
    </div>
  </div>

<section>
  <div class="container">
    <article class="post">
        <div class="columns">
          <div class="column is-one-fifth"></div>
          <div class="column is-three-fifths">
            {% block postsheading %}
            {% endblock postsheading %}
            {% for page in paginator.pages %}
              <div class="post-summary">
                <a href="{{ page.permalink }}"><h2 class="title is-size-5">{{ page.title }}</h2></a>
                <p class="excerpt has-text-grey-dark is-size-6">{{ page.description }}</p>
                <p class="has-text-grey-dark is-size-6-5">{{ page.date | date(format="%d %b %Y") }} &#X00B7 {{page.reading_time }} min
                    read{% if page.taxonomies.tags %} &#X00B7 {% for tag in page.taxonomies.tags %}<a class="has-text-grey-dark" href="/tags/{{ tag }}"> #{{ tag }}</a>{% if loop.index != page.taxonomies.tags | length %} &#X00B7{% endif %}
                      {% endfor %}{% endif %}
                </p>
              </div>
            {% endfor %}
            {{ macros::pager(pg=paginator) }}
          </div>
          <div class="column is-one-fifths">
          </div>
        </div>
    </article>
  </div>
</section>

{% endblock content %}