{% extends "content.html" %}
{% import "macros.html" as macros %}

{% block page_title %}
<h1 class="page-title" style="margin-bottom: 50px">Posts</h1>
{% endblock page_title %}

{% block page_content %}
{% set grouped = paginator.pages | group_by(attribute="year") %}
{% for year, posts in grouped %}
<h2 class="year-marker">{{ year}}</h2>
{% for post in posts %}
  <li class="post-item">
  <a href="{{ post.permalink }}">{{ post.title }}</a>
  <hr class="post-divider"/>
  <small class="post-date">{{ macros::month(month_num = post.month) }} {{macros::pad_day(day = post.day) }}</small>
  </li>
{% endfor %}
{% endfor %}
{% endblock page_content %}

