{% extends "list_base.html" %}
{% import "macros.html" as macros %}

{% block page_title %}
Posts
{% endblock page_title %}

{% block page_content %}
{% set grouped = paginator.pages | group_by(attribute="year") %}
{% for year, posts in grouped %}
<h2 class="text-3xl font-bold text-gray-700 mt-12">{{ year }}</h2>
<div class="pl-2">
{% for post in posts %}
  <div class="flex items-center justify-between py-2">
    <a class="text-gray-800 hover:text-blue-500 duration-300" href="{{ post.permalink }}">{{ post.title }}</a>
    <hr class="flex-grow mx-4 bg-blue-500" />
    <small class="font-mono text-gray-600">{{ macros::month(month_num = post.month) }} {{macros::pad_day(day = post.day) }}</small>
  </div>
{% endfor %}
</div>
{% endfor %}
{% endblock page_content %}
